:root {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

div#body-container {
  text-align: center;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px;
  text-align: center;
}
